<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />

</head>


<body>
    <header class="nav-bar">
        <div class="nav-content">
            <div class="topnav">
                <a href="/">Home</a>
                <a class="active" href="hobbies">Hobbies</a>
                <div class="nav-logo">
                    <a href="/"><img src="./static/img/logo.svg"></a>
                </div>
            </div>
        </div>
    </header>


    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/nora.jpeg">
            <img src="./static/img/sherry.jpg">
            <img src="./static/img/samantha.jpg">
        </div>

        <h1>Our Hobbies</h1>
    </div>

	<div class="container">
	   <div class="column">
	     <h2> Nora </h2>
		 <p> Climbing</p>
	   </div>
	   <div class="column">
	     <h2> Sherry </h2>
		 <p> Violing, piano, hiking</p>
	   </div>
	   <div class="column">
	     <h2> Sam </h2>
		 <p> Hiking, Hanging with friends</p>
	   </div>
	</div>

</body>




</html>