<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <title>{{ title }}</title>

</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <div class="topnav">
                <a class="active" href="#home">Home</a>
                <a href="hobbies">Hobbies</a>
                <div class="nav-logo">
                    <a href="/"><img src="./static/img/logo.svg"></a>
                </div>
            </div>
        </div>
    </header>

    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/nora.jpeg">
            <img src="./static/img/sherry.jpg">
            <img src="./static/img/samantha.jpg">
        </div>

        <h1>{{ title }}</h1>
        <div class="map-title">This is where we are located! Week3 Change</div>
        <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen
            src="https://www.google.com/maps/embed/v1/view?zoom=2&center=54.5260,-105.2551&key=AIzaSyBoiMngvBd_A7ORI7ouP5zi8BhRsPL1vFY"></iframe>

    </div>
</body>

</html>